@font-face {
    font-family: 'UnifrakturMaguntia';
    src: url('UnifrakturMaguntia.woff2') format('woff2'),
        url('UnifrakturMaguntia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

